{% extends "@App/layout.html.twig" %}
{%  block titlebar %}
    <div class="title-bar">
        <div class="container">
            <h1>About</h1>
        </div>
    </div>
{% endblock %}
{% block content %}
<div class="container">Sweet w</div>
{% endblock %}
